[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
uvloop = "*"
aiohttp-socks = "*"
django = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.6"
